.header(style="background: #fff")
	.container
		.row
			.col(style="width: 35%")
				.logo(style="color: #005ed3; font-size: 1rem; font-weight: bold; padding-top: 0.6rem; ") LEARNING
			.col(style="width: 65%; float: right")
				.lesson
					select(data-lesson)
						option(value=0, checked) -- Tất cả --
						option(value=1) Văn hóa doanh nghiệp
						option(value=2) An toàn thông tin (Nâng cao)
						option(value=3) Năng lực cốt lõi
						option(value=4) Kỹ năng giao tiếp và chăm sóc khách hàng
						option(value=5) Các SPDV Viễn thông và CNTT của VNPT
						option(value=6) Cơ sở dữ liệu Oracle
						option(value=7) Định hướng chiến lược VNPT4.0
						option(value=8) Quản trị và cấu hình thiết bị Mạng
						option(value=9) Quy trình cung cấp SPDV CNTT
						option(value=10) Kỹ thuật lập trình
						option(value=11) An toàn thông tin (Cơ bản)
		.row
			.search
				input(type="search", data-keyword, placeholder="Từ khóa ...")
				button.search__clear &times;
.container
	.row
		#list.list(data-searchable)
