.header(style="background: #fff")
	.container
		.row
			.col(style="width: 35%")
				.logo(style="color: #005ed3; font-size: 1rem; font-weight: bold; padding-top: 0.6rem; ") LEARNING
			.col(style="width: 65%; float: right")
				.lesson
					select(data-lesson)
						option(value=0, checked) -- Tất cả --
						option(value=1) Văn hóa doanh nghiệp
						option(value=2) An toàn thông tin (Nâng cao)
						option(value=3) Năng lực cốt lõi
						option(value=4) Kỹ năng giao tiếp và chăm sóc khách hàng
						option(value=5) Các SPDV Viễn thông và CNTT của VNPT
						option(value=6) Cơ sở dữ liệu Oracle
						option(value=7) Định hướng chiến lược VNPT4.0
						option(value=8) Quản trị và cấu hình thiết bị Mạng
						option(value=9) Quy trình cung cấp SPDV CNTT
						option(value=10) Kỹ thuật lập trình
						option(value=11) An toàn thông tin (Cơ bản)
						option(value=12) Đánh giá nhận thức An toàn thông tin người dùng
						option(value=13) An toàn vệ sinh lao động
						option(value=14) Nghị quyết đại hội Đoàn
						option(value=15) Power BI
						option(value=16) Kỹ năng viết dự án CNTT
						option(value=17) Kỹ năng thuyết trình dự án CNTT
						option(value=18) Cơ bản về công nghệ mới đáp ứng chiến lược VNPT 4.0
						option(value=19) Tổng quan về công nghệ chuỗi khối (Blockchain)
						option(value=20) Kiến thức cơ bản về trí tuệ nhân tạo AI
						option(value=21) Kiến thức chung về hệ thống Report
						option(value=22) Kiến thức Kết nối vạn vật IoT cơ bản
						option(value=23) Lập trình Java nâng cao
						option(value=24) Lập trình Web với ngôn ngữ PHP
						option(value=25) AWS Cloud Technical & Practitioner Essentials
						option(value=26) Kỹ thuật mạng máy tính - CCNA
						option(value=27) Kiến thức quản trị mạng Juniper cơ bản, JNCIA -Junos
						option(value=28) Kiến thức điện toán đám mây cơ bản
						option(value=29) Bigdata
						option(value=30) Python cơ bản
						option(value=31) Python nâng cao
						option(value=32) Lập trình Java cơ bản
						option(value=33) Lập trình C#
						option(value=34) Văn hóa VNPT
						option(value=35) Bài kiểm tra NVKT
						option(value=36) ĐGNL TTHạ Tầng
		.row
			.search
				input(type="search", data-keyword, placeholder="Từ khóa ...")
				button.search__clear &times;
.container
	.row
		#list.list(data-searchable)
